{% extends "base.html" %}

{% block content %}
    <body>
        <h2>The Gunpoets</h2>
        <h3>Ithaca</h3>
        <p>Voice as a weapon, words as bullets, spreading the universal message of peace, love, and justice through music. Sure, there's a cynical cultural tendency to make certain assumptions when you hear the word "gun" associated with rap music, but this seven-member live hip-hop band from Ithaca, NY, runs contrary to that image with their positive message and uplifting performances.</p>
        <h3>Events:</h3>
        <ul>
            <li>The Commons on Thursday 9/6</li>
            <li>The Haunt next Friday 9/14</li>
        </ul>
    </body>
{% endblock %}